azure-ai-vision==0.15.1b1
azure-cognitiveservices-vision-face==0.6.0
azure-common==1.1.28
azure-communication-email==1.0.0
azure-core==1.30.2
azure-mgmt-core==1.4.0
azure-storage-blob==12.22.0
blinker==1.8.2
blob==0.16
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==43.0.1
cycler==0.12.1
et-xmlfile==1.1.0
Flask==3.0.1
Flask-Cors==5.0.0
fonttools==4.53.1
idna==3.7
isodate==0.6.1
itsdangerous==2.2.0
javascript==1!1.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.2
msrest==0.7.1
mysql-connector-python==9.0.0
numpy==1.26.4
numpy1==0.0.1
oauthlib==3.2.2
opencv-python-headless
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pycparser==2.22
pymssql==2.3.1
pyodbc==5.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
